//Colors
$primary-color: #1564bf;
$primary-light: #5e91f2;
$primary-dark: #003b8e;
$secondary-color: #64b5f6;
$secondary-light: #9be7ff;
$secondary-dark: #2286c3;
$green: #6ab04c;
$red: #c23616;
$strong-red: #d63031;
$blue: #341f97;
$yellow: #e1b12c;
$orange: #dc7832;

//spacing
$s-size: 1rem;
$m-size: 2rem;
$l-size: 3rem;
$xl-size: 4rem;
$desktop-breakpoint: 45rem;
